.row {
    max-width: $grid-width;
    margin: 0 auto;

    margin-bottom: $gap-vertical;
    &:last-of-type {
        margin-bottom: 0;
    }
    
    @include clearfix;

    //Selects elemenent width the beggining like..

    [class^= "col-"] {
        margin-right: $gap-horizontal;
        float: left;
        &:last-of-type {
            margin-right: 0;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gap-horizontal}) / 2);
        
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gap-horizontal}) / 3);
    }
    
    .col-1-of-4 {
        width: calc((100% - 3 * #{$gap-horizontal}) / 4);
    }

    .col-2-of-3 {
        width: calc(2 * (100% - 2 * #{$gap-horizontal}) / 3 + #{$gap-horizontal});
    }

    .col-2-of-4 {
        width: calc(2 * (100% - 3 * #{$gap-horizontal}) / 4 + #{$gap-horizontal});
    }

}