.row {
    max-width: $grid-width;
    margin: 0 auto;

    margin-bottom: $gap-vertical;
    &:last-of-type {
        margin-bottom: 0;
        
        @include respond(tab-port) {
            margin-bottom: $gap-vertical-small;
        }
    }
    
    @include respond(tab-port) {
        max-width: 50rem;
    }

    @include clearfix;

    //Selects elemenent width the beggining like..

    [class^= "col-"] {
        float: left;
        &:not(:last-of-type) {
            margin-right: $gap-horizontal;
           
            @include respond(tab-port) {
                margin-bottom: $gap-vertical-small;
                margin-right: $gap-horizontal;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gap-horizontal}) / 2);
        
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gap-horizontal}) / 3);

        // @include respond(tab-land) {
        //     margin-left: 3rem;
        // }
    }
    
    .col-1-of-4 {
        width: calc((100% - 3 * #{$gap-horizontal}) / 4);

        // @include respond(tab-land) {
        //     margin-left: 3rem;
        // }
    }

    .col-2-of-3 {
        width: calc(2 * (100% - 2 * #{$gap-horizontal}) / 3 + #{$gap-horizontal});
    }

    .col-2-of-4 {
        width: calc(2 * (100% - 3 * #{$gap-horizontal}) / 4 + #{$gap-horizontal});
    }

}